<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>name.alexh.promtail</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/promtail</string>
        <string>-config.file=/usr/local/bin/promtail.yaml</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/var/log/promtail.err.log</string>
    <key>StandardOutPath</key>
    <string>/var/log/promtail.log</string>
</dict>
</plist>
